src/wsdl/localhost_8084/cobol/ProfessorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cobol.sca.unibrasil.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cobol.sca.unibrasil.com/" name="ProfessorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://cobol.sca.unibrasil.com/" schemaLocation="http://localhost:8084/cobol/ProfessorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getProfessorById">
<part name="parameters" element="tns:getProfessorById"/>
</message>
<message name="getProfessorByIdResponse">
<part name="parameters" element="tns:getProfessorByIdResponse"/>
</message>
<message name="getProfessors">
<part name="parameters" element="tns:getProfessors"/>
</message>
<message name="getProfessorsResponse">
<part name="parameters" element="tns:getProfessorsResponse"/>
</message>
<message name="createProfessor">
<part name="parameters" element="tns:createProfessor"/>
</message>
<message name="createProfessorResponse">
<part name="parameters" element="tns:createProfessorResponse"/>
</message>
<message name="editProfessor">
<part name="parameters" element="tns:editProfessor"/>
</message>
<message name="editProfessorResponse">
<part name="parameters" element="tns:editProfessorResponse"/>
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="deleteProfessor">
<part name="parameters" element="tns:deleteProfessor"/>
</message>
<message name="deleteProfessorResponse">
<part name="parameters" element="tns:deleteProfessorResponse"/>
</message>
<portType name="ProfessorWS">
<operation name="getProfessorById">
<input wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/getProfessorByIdRequest" message="tns:getProfessorById"/>
<output wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/getProfessorByIdResponse" message="tns:getProfessorByIdResponse"/>
</operation>
<operation name="getProfessors">
<input wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/getProfessorsRequest" message="tns:getProfessors"/>
<output wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/getProfessorsResponse" message="tns:getProfessorsResponse"/>
</operation>
<operation name="createProfessor">
<input wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/createProfessorRequest" message="tns:createProfessor"/>
<output wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/createProfessorResponse" message="tns:createProfessorResponse"/>
</operation>
<operation name="editProfessor">
<input wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/editProfessorRequest" message="tns:editProfessor"/>
<output wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/editProfessorResponse" message="tns:editProfessorResponse"/>
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/editProfessor/Fault/NonexistentEntityException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/editProfessor/Fault/Exception"/>
</operation>
<operation name="deleteProfessor">
<input wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/deleteProfessorRequest" message="tns:deleteProfessor"/>
<output wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/deleteProfessorResponse" message="tns:deleteProfessorResponse"/>
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://cobol.sca.unibrasil.com/ProfessorWS/deleteProfessor/Fault/NonexistentEntityException"/>
</operation>
</portType>
<binding name="ProfessorWSPortBinding" type="tns:ProfessorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProfessorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProfessors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProfessor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProfessor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteProfessor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProfessorWS">
<port name="ProfessorWSPort" binding="tns:ProfessorWSPortBinding">
<soap:address location="http://localhost:8084/cobol/ProfessorWS"/>
</port>
</service>
</definitions>