src/wsdl/localhost_8084/cobol/ProfessorWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://cobol.sca.unibrasil.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cobol.sca.unibrasil.com/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="NonexistentEntityException" type="tns:NonexistentEntityException"/>

<xs:element name="createProfessor" type="tns:createProfessor"/>

<xs:element name="createProfessorResponse" type="tns:createProfessorResponse"/>

<xs:element name="deleteProfessor" type="tns:deleteProfessor"/>

<xs:element name="deleteProfessorResponse" type="tns:deleteProfessorResponse"/>

<xs:element name="editProfessor" type="tns:editProfessor"/>

<xs:element name="editProfessorResponse" type="tns:editProfessorResponse"/>

<xs:element name="getProfessorById" type="tns:getProfessorById"/>

<xs:element name="getProfessorByIdResponse" type="tns:getProfessorByIdResponse"/>

<xs:element name="getProfessors" type="tns:getProfessors"/>

<xs:element name="getProfessorsResponse" type="tns:getProfessorsResponse"/>

<xs:element name="professor" type="tns:professor"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="editProfessor">
<xs:sequence>
<xs:element name="arg0" type="tns:professor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="professor">
<xs:sequence>
<xs:element name="endereco" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nascimento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="telefone" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="enabled" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProfessorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="NonexistentEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProfessor">
<xs:sequence>
<xs:element name="arg0" type="tns:professor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProfessorResponse">
<xs:sequence>
<xs:element name="return" type="tns:professor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProfessor">
<xs:sequence>
<xs:element name="arg0" type="tns:professor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProfessorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getProfessors">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getProfessorsResponse">
<xs:sequence>
<xs:element name="return" type="tns:professor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProfessorById">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProfessorByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:professor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>